/* Main Title */
h1 {
    text-align: center;
    color: #f97316;
    margin: 30px 0;
    font-size: 2.5rem;
}

main{
    margin-bottom: 100px;
}

/* Form */
form {
    background-color: #222;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: 0 auto;
}

/* Labels */
label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    color: #f97316;
}

/* Inputs */
.stock-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #f4f4f4;
    font-size: 1rem;
    transition: border-color 0.3s, background-color 0.3s;
}

.stock-input:focus {
    border-color: #f97316;
    background-color: #444;
}

/* Button */
button.runscreener {
    width: 100%;
    padding: 15px;
    background-color: #f97316;
    color: white;
    margin-bottom:20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button.runscreener:hover {
    background-color: #e68900;
    transform: translateY(-2px);
}

/* Progress Bar */
#progressContainer {
    display: none;
    margin-top: 20px;
    text-align: center;
}

#progressBar {
    width: 100%;
    background-color: #444;
    border-radius: 5px;
}

#progressBar div {
    width: 0;
    height: 20px;
    background-color: #f97316;
    border-radius: 5px;
    transition: width 0.5s;
}

/* Progress Text */
#progressText {
    margin-top: 10px;
    font-size: 18px;
    color: #f4f4f4;
}

/* Link Styling */
p a {
    color: #f97316;
    text-decoration: none;
    transition: color 0.3s;
}

p a:hover {
    color: #e68900;
}



.radio-group input[type="radio"] {
    margin-right: 5px;
}
